
/* what we are */

.what-we-are {
	@apply bg-white text-[#1B1F26B8] flex flex-row relative z-[1];
}

.what-we-are > div {
	@apply w-1/3 py-[75.5px];
}

.what-we-are .item {
	@apply px-[150px] text-base flex flex-col gap-10;
}

.what-we-are .item .content p{
	@apply mt-10;
}

.what-we-are .item p {
	@apply text-[#1B1F26B8] leading-normal ease-in-out duration-300;
}

.what-we-are .item .number {
	@apply text-[#6F91E6] duration-300 ease-in-out opacity-100;
}

.what-we-are .item:hover .number {
	@apply opacity-0;
}

.what-we-are .item .icons{
	@apply relative max-w-[111px] mr-auto w-[111px];
}

/* first */

.what-we-are .item.first{
	@apply duration-300 ease-in-out relative;
}

.what-we-are .item.first:hover{
	@apply bg-[#00FF99] text-[#125748] font-bold;
}

.what-we-are .item.second:hover{
	@apply bg-[#00CCCC] text-[#134f54] font-bold;
}

.what-we-are .item.third:hover{
	@apply bg-[#1D39DA] !text-white font-bold;
}

.what-we-are .item.third:hover p{
	@apply !text-white font-bold;
}

.what-we-are .item:hover .icons svg > *{
	fill: #fff;
}

.what-we-are .item.first .icons svg > *,
.what-we-are .item.second .icons svg > *{
	@apply duration-300 ease-in-out;
}

.what-we-are .item.third .icons svg > *{
	transition: fill .3s ease-in-out;
}

.what-we-are .item.first .icons .bottom{
	@apply flex flex-row items-center justify-between gap-1;
	transform: translateX(0px) translateY(0px);
	transform-origin:0;
}

.what-we-are .item.first .icons .bottom svg:nth-child(1) {
	@apply bottom-0 left-0;
}

.what-we-are .item.first .icons .bottom svg:nth-child(2) {
	@apply bottom-0 right-0;
}

.what-we-are .item.first .icons > svg:nth-child(1){
	@apply duration-300 ease-in-out flex items-center justify-center mx-auto mb-2;
}

 .what-we-are .item:hover .content{
	animation: moveUp 4s ease-in-out forwards;
	animation-delay: 1s;
}

.what-we-are .item.first:hover .icons .bottom{
	animation: rotate 4s ease-in-out forwards;
	animation-delay: 1s;
}

@keyframes moveUp {
	0%{
		transform: translate(0, 0);
	}

	5%{
		transform: translateY(-40px);
	}

	100%{
		transform: translateY(-40px);
	}
}

@keyframes rotate {
	0%{
		transform: rotate(0) translateY(0);
		transform-origin: center;
	}

	5%{
		transform: rotate(90deg) translateY(0);
    	transform-origin: center;
	}

	30%{
		transform: rotate(90deg)  translateY(0px);
		transform-origin: center;
	}

	35%{
		transform: rotate(0) ;
		transform-origin: center;
	}

	100%{
		transform: rotate(0) translateX(0) ;
		transform-origin: center;
	}
}

/* first */

/* second */

.what-we-are .item.second {
	@apply relative;
}

.what-we-are .item.second::before {
	content: "";
	@apply absolute left-0 top-0 bottom-0 m-auto w-[2px] h-full block bg-[#F2F2F3];
}

.what-we-are .item.second::after {
	content: "";
	@apply absolute right-0 top-0 bottom-0 m-auto w-[2px] h-full block bg-[#F2F2F3];
}

.what-we-are .item.second .icons .full{
	@apply flex flex-wrap items-center justify-start gap-[3.5px];
}

.what-we-are .item.second .icons .full svg{
	width: calc(100% / 2 - 3.5px);
	height: 100%;
}

.what-we-are .item.second .icons > svg{
	@apply bottom-0 left-[17%] ease-in-out duration-300;
}

.what-we-are .item.second .icons{
	@apply relative;
}

.what-we-are .item.second .icons .full{
	@apply relative max-w-[111px] mr-auto w-[111px] duration-300 ease-in-out;
}

.what-we-are .item.second:hover .icons .full svg:last-child{
	animation: changePosition 4s forwards ease-in-out;
	animation-delay: 1s;
}

@keyframes changePosition{
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(-111px, -112px);
	}
	30% {
		transform: translate(-111px, -112px);
	}
	40% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* second */

/* third */
.what-we-are .item.third .icons{
	@apply flex flex-col items-center justify-start gap-1;
}

.what-we-are .item.third .icons .top{
	@apply flex flex-row items-center justify-between gap-1;
}

.what-we-are .item.third .icons svg:nth-child(1) {
	@apply top-0 left-0;
}

.what-we-are .item.third .icons svg:nth-child(2) {
	@apply top-0 right-0;
}

.what-we-are .item.third .icons svg:nth-child(3) {
	@apply top-0 bottom-0 right-0 left-0;
}

.what-we-are .item.third .icons svg:nth-child(4) {
	@apply bottom-0 left-0 right-0;
}

.what-we-are .item.third:hover .icons .top{
	animation: svgTopUp 4s forwards ease-in-out;
	animation-delay: 1s;
}

.what-we-are .item.third:hover .icons > svg:nth-child(2){
	animation: showHide 4s forwards ease-in-out;
	animation-delay: 1s;
}

.what-we-are .item.third:hover .icons > svg:nth-child(3){
	animation:svgBottomUp 4s forwards ease-in-out;
	animation-delay: 1s;
}

@keyframes svgTopUp{
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes showHide{
	0% {
		transform: translateY(0);
	}
	5% {
		opacity: 0;
	}
	40% {
		opacity: 0;
		transform: translateY(0px);
	}
	50% {
		opacity: 1;
	}
	80% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes svgBottomUp{
	0% {
		transform: translateY(0);
	}
	5% {
		transform: translateY(-57px);
	}
	30% {
		transform: translateY(-57px);
	}
	40% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* third */

/* what we are */
