/* bottom */

.parallax .bottom {
	background: url("/bg-bottom.png") no-repeat center;
	background-size: cover;
	z-index: 10;
	width: 100%;
	height: 100%;
	position: relative;
}

.parallax .bottom .our-clients {
	@apply relative pt-[200px] pb-6;
}

.parallax .bottom .our-clients .title{
	@apply text-[64px] text-center font-bold text-[#03F2F2];
}

.parallax .bottom .our-clients .block-arrow-right-client{
	@apply relative;
}

.parallax .bottom .our-clients .arrow-right-client{
	@apply flex cursor-pointer bg-[#0060FF] w-9 h-9 px-4 rounded-full items-center justify-center ml-auto mr-[133px] ease-in-out duration-300 relative text-white m-auto;
}


.parallax .bottom .our-clients .arrow-right-client svg{
	stroke:#fff;
	stroke-width: 10px;
	@apply w-5 h-5 font-bold absolute top-0 bottom-0 right-[9px] m-auto z-10;
}

.parallax .bottom .our-clients .arrow-right-client:hover{
	@apply pl-[60px];
}

.parallax .bottom .our-clients .list-clients img {
	@apply opacity-40 ease-in-out duration-300 block mx-auto;
}

.parallax .bottom .our-clients .list-clients img:hover {
	@apply opacity-100;
}

.parallax .bottom .our-clients::before {
	content: "";
	background: linear-gradient(
		130deg,
		rgba(0, 255, 153, 1) 0%,
		rgba(0, 96, 255, 1) 100%
	);
	@apply absolute bottom-0 left-0 mr-auto w-0 h-[1px] opacity-30;

}

.parallax .bottom .our-clients[data-scroll="true"]::before{
	animation: parallaxLineWidth 2s ease-in-out forwards;
}

.parallax .bottom .contact {
	@apply relative max-w-[1452px] mx-auto;
}

.parallax .bottom .contact h2.title{
	@apply text-[128px] text-[#00FF99] font-bold text-center relative z-10;
}

.parallax .bottom .contact .number-absolute {
	@apply top-[-150px] right-[85px] left-0 bottom-0 text-center block;
}

.parallax .bottom .contact label {
	@apply w-full block relative;
}

.parallax .bottom .contact label input {
	outline: 0;
	border: 0;
	@apply relative h-[44px] leading-[44px] pr-4 border-b border-b-[rgba(255,255,255,0.1)] block w-full;
}

.parallax .bottom .contact label input+.border-focus::before{
	content: '';
	@apply absolute block right-[initial] bottom-[0] left-0 w-[0] h-[1px] duration-400 ease-in-out z-[2];
	background: linear-gradient(
		130deg,
		rgba(0, 255, 153, 1) 0%,
		rgba(0, 96, 255, 1) 100%
	);
}

.parallax .bottom .contact label[data-error="true"] input+.border-focus::before{
	background:#fb2c36;
}

.parallax .bottom .contact label[data-error="true"] input+.border-focus::before,
.parallax .bottom .contact label[data-active="true"] input+.border-focus::before,
.parallax .bottom .contact label input:focus+.border-focus::before{
	@apply w-full right-0;
}

.parallax .bottom .contact label input ~ .absolute-placeholder{
	@apply absolute top-0 left-0 text-[#BACAF5] opacity-40 text-base leading-[44px] duration-300 ease-in-out;
}

.parallax .bottom .contact label[data-active="true"] input ~ .absolute-placeholder,
.parallax .bottom .contact label input:focus ~ .absolute-placeholder{
	@apply text-sm top-[-24px] text-[#00FF99] opacity-100;
}

.parallax .bottom .contact label[data-error="true"] input ~ .absolute-placeholder{
	@apply text-sm top-[-24px] text-red-500 opacity-100;
}

.parallax .bottom .contact button {
	@apply w-full rounded-lg bg-[#00FF99] text-[#001758] text-base items-center font-bold h-16 leading-16 hover:bg-[#03F2F2] ease-in-out duration-300 cursor-pointer mt-6 flex flex-row justify-center gap-2;
}

.parallax .bottom .contact button svg{
	stroke: #001758;
	stroke-width: 10px;
	@apply w-5 h-5 font-bold duration-300 ease-in-out;
}

.parallax .bottom .contact button:hover svg{
	@apply rotate-[-45deg];
}

.parallax .bottom .list-clients{
	@apply my-[100px] flex gap-14 flex-row justify-between items-center;
}


@media (max-width: 1480px){
	.parallax .bottom .contact{
		@apply max-w-[1193px];
	}
}

@media (max-width:1100px){
	.parallax .bottom .our-clients .title,
	.parallax .bottom .contact h2.title{
		@apply text-[96px];
	}

	.parallax .bottom .our-clients{
		@apply pt-[110px];
	}

	.parallax .bottom .list-clients{
		@apply my-[100px]
	}

	.parallax .bottom .contact .number-absolute{
		@apply top-[-100px] right-0 left-0;
	}
}

@media (max-width:767px){

	.parallax .bottom .our-clients{
		@apply pt-[100px];
	}

	.parallax .bottom .list-clients{
		@apply my-[60px]
	}

	.parallax .bottom .our-clients .arrow-right-client{
		@apply mr-[5%];
	}

	.parallax .bottom .contact{
		@apply px-[30px];
	}

	.parallax .bottom .contact button{
		@apply h-[48px] leading-[48px] text-sm;
	}

	.parallax .bottom .contact .contact-form{
		@apply px-0;
	}

	.parallax .bottom .contact .number-absolute{
		@apply top-[-80px] right-0 left-0;
	}

	.parallax .bottom .our-clients .title,
	.parallax .bottom .contact h2.title{
		@apply text-[72px];
	}

	.parallax .bottom .contact .contact-form p{
		@apply max-w-[468px] mx-auto;
	}
}

@media (max-width:550px){

	.parallax .bottom .our-clients{
		@apply pt-[80px];
	}

	.parallax .bottom .our-clients .title,
	.parallax .bottom .contact h2.title{
		@apply text-[48px];
	}

	.parallax .bottom .contact .number-absolute{
		@apply top-[-120px];
	}
}

@media (max-width:390px){
	.parallax .bottom .our-clients .title,
	.parallax .bottom .contact h2.title{
		@apply text-[36px];
	}
}

/* bottom */
