/* parallax */

.parallax {
	@apply relative w-full;
}

.parallax > .item {
	@apply overflow-hidden;
}

.parallax::before{
	content: '';
	background: linear-gradient(
		130deg,
		rgba(0, 255, 153, 1) 0%,
		rgba(0, 96, 255, 1) 100%
	);
	@apply absolute top-[-12%] right-[34%] m-auto block w-[1px] h-0 z-[5] ease-in-out duration-300;
}

.parallax[data-scroll="true"]::before{
	animation: parallaxLineHeight 3s forwards ease-in-out;
}

@keyframes parallaxLineHeight{
	0%{
		height: 0;
	}

	100%{
		height: 100%;
	}
}

.parallax > .item {
	@apply sticky pl-[95px] pr-[105px] pt-[62px] flex flex-row items-start justify-between;
}

.parallax .our-clients {
	@apply sticky top-0 w-full;
}

.parallax .our-clients  .swiper-wrapper{
	@apply items-center;
}

.parallax > .item .right {
	@apply text-[#EBFBFF] text-base font-normal leading-normal max-w-[478px];
}

.parallax > .item .left {
	@apply flex items-start flex-row;
}

.parallax > .item span {
	@apply text-2xl font-bold text-[#004D2E] text-left block;
}

.parallax > .item.applications span {
	@apply text-[#004D2EB2];
}

.parallax > .item.applications .right {
	@apply text-[#000000B2];
}

.parallax > .item.applications h2 {
	@apply text-[#000000B2];
}

.parallax > .item.branding span {
	@apply text-[#AFFFDF];
}

.parallax .item.branding h2 {
	@apply text-[#AFFFDF];
}

.parallax > .item.branding .right {
	@apply text-[#AFFFDF];
}

.parallax > .item h2 {
	@apply text-[154px] font-bold text-white text-left pl-10 block leading-[initial] mt-[-29px];
}

.parallax > .item.websites {
	@apply top-0 h-screen bg-[#0060FF];
}

.parallax > .item.applications {
	/* h-[969px] */
	@apply top-[240px] h-screen bg-[#00FF99];
}

.parallax > .item.branding {
	/* 419px */
	/* h-[756px] */
	@apply top-[520px] h-[400px] bg-[#021078];
}

.parallax > .item .title.mobile{
	@apply hidden;
}

@media (max-width:1830px){
	.parallax::before{
		@apply right-[32%];
	}

	.parallax > .item h2{
		@apply text-[128px];
	}

	.parallax > .item{
		@apply pr-[60px];
	}
}

@media (max-width:1750px){

	.parallax::before{
		@apply right-[29%];
	}

	.parallax > .item .right{
		@apply max-w-[400px];
	}
}

@media (max-width:1680px){

	.parallax::before{
		@apply right-[27%];
	}

	.parallax > .item .right{
		@apply max-w-[300px] text-sm;
	}
}

@media (max-width:1400px){

	.parallax::before{
		@apply right-[35%];
	}

	.parallax > .item h2{
		@apply text-[96px];
	}

	.parallax > .item .right{
		@apply max-w-[350px];
	}
}

@media (max-width:1240px){
	.parallax::before{
		@apply right-[33%];
	}

	.parallax > .item .right{
		@apply max-w-[300px];
	}

	.parallax > .item.applications{
		@apply top-[270px];
	}
}

@media (max-width:1200px){

	.parallax::before{
		@apply right-[35%];
	}

	.parallax > .item h2{
		@apply pl-0 pt-[20px];
	}

	.parallax > .item{
		@apply pl-[64px];
	}
}

@media (max-width:1140px){

	.parallax > .item .title{
		@apply max-w-[377px];
	}

	.parallax::before{
		@apply right-[42%];
	}

	.parallax > .item.applications .title{
		@apply hidden;
	}

	.parallax > .item .title.mobile{
		@apply block leading-[117px];
	}

	.parallax > .item.branding{
		@apply top-[590px];
	}
}

@media (max-width:1024px){
	.parallax::before{
		@apply right-[40%];
	}

	.parallax > .item{
		@apply pl-[40px];
	}
}

@media (max-width:970px){

	.parallax > .item h2{
		@apply text-[72px] leading-[initial];
	}

	.parallax > .item .title.mobile{
		@apply leading-[80px];
	}

	.parallax > .item{
		@apply pl-[20px];
	}

	.parallax::before{
		@apply right-[46%];
	}
}

@media (max-width:860px){
	.parallax > .item .right{
		@apply max-w-[247px];
	}

	.parallax > .item.applications{
		@apply top-[320px];
	}
}

@media (max-width:790px){
	.parallax::before{
		@apply right-[44%];
	}
}

@media (max-width:730px){
	.parallax > .item .left,
	.parallax > .item{
		@apply flex-col justify-start;
	}

	.parallax > .item{
		@apply pt-[50px]
	}

	.parallax > .item.applications{
		@apply top-[350px];
	}

	.parallax > .item .right{
		@apply max-w-[400px];
	}

	.parallax > .item.branding{
		@apply top-[695px] h-[500px];
	}

	.parallax > .item .title.mobile{
		@apply block;
	}

	.parallax::before{
		@apply right-[4%];
	}
}

@media (max-width:550px){
	.parallax > .item h2{
		@apply text-[54px];
	}

	.parallax > .item{
		@apply pt-[30px];
	}

	.parallax > .item.applications{
		@apply top-0;
	}

	.parallax > .item.branding{
		@apply top-0 h-screen;
	}

	.parallax > .item .right{
		@apply text-sm;
	}
}


@media (max-width:390px){
	.parallax > .item .right{
		@apply text-sm;
	}
}

/* parallax */
