
/* our-projects */

.our-projects {
	padding: 68px 0 0 0;
	background: linear-gradient(177deg, #010d20 71.06%, #0060ff 157.64%);
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.our-projects .arrow-right-content{
	@apply mt-6 ml-auto w-[850px] relative;
}

.our-projects .arrow-right-content .arrows{
	@apply flex flex-row items-end justify-end gap-8 bg-[#040c1f] max-w-[150px] relative z-[1] pr-10 pb-[36px];
}

.our-projects .arrow-right-content::before{
	content: '';
	background: linear-gradient(130deg, rgba(0, 255, 153, 1) 0%, rgba(0, 96, 255, 1) 100%);
	@apply absolute top-0 bottom-0 m-auto w-0 h-[1px] z-[1] opacity-30;
}

.our-projects[data-scroll="true"] .arrow-right-content::before{
	animation: widthLineProjects 1.5s ease-in-out forwards;
}

@keyframes widthLineProjects{
	0%{
		width: 0;
		left:0;
	}

	50%{
		width: 0;
	}

	100%{
		width: 100%;
		right:0;
	}
}

.our-projects .arrow-right-content .arrows > div{
	@apply w-9 h-9 rounded-full flex items-center ease-in-out duration-300 justify-center font-bold text-[#001758] cursor-pointer absolute top-0 bottom-0 m-auto z-[2];
}

.our-projects .arrow-right-content .arrows > div svg{
	stroke-width: 10px;
	stroke:#001758;
	position: absolute;
}

.our-projects .arrow-right-content .arrow-left svg{
	right: 9px;
}

.our-projects .arrow-right-content .arrow-left{
	@apply bg-[#03F2F2] left-0;
}

.our-projects .arrow-right-content .arrow-left:hover{
	@apply pr-[80px];
}

.our-projects .arrow-right-content .arrow-right{
	@apply bg-[#00FF99] right-[20px] pl-[80px];
}

.our-projects .arrow-right-content .arrow-right svg{
	left: 9px;
}

.our-projects .arrow-right-content .arrow-right:hover{
	@apply pl-[80px];
}

.our-projects .arrow-right-content .arrow-right:hover ~ .arrow-left{
	@apply pr-0;
}

.our-projects .arrow-right-content .arrow-left:hover ~ .arrow-right{
	@apply pl-0;
}

.our-projects .content-slide {
	@apply h-[950px] relative;
}

.our-projects .line-info {
	@apply flex flex-row items-center gap-6 pl-[120px];
}

.our-projects .line-info span {
	@apply px-8 py-2 text-base font-normal inline-block rounded-full border text-center opacity-40;
}

.our-projects .line-info span:nth-child(1) {
	@apply text-[#01E8A3] border-[#01E8A3];
}

.our-projects .line-info span:nth-child(2) {
	@apply text-[#00CCCC] border-[#00CCCC];
}

.our-projects .line-info span:nth-child(3) {
	@apply text-[#1890FF] border-[#1890FF];
}

.our-projects h2.title {
	@apply text-[280px] text-[#0060FF] font-bold block left-[-70px] relative z-[1];
	line-height: 120%;
}

.our-projects h2.title[data-language="pt"] {
	@apply left-0;
}


@keyframes titleProjectsDesktop {
	0%{
		transform: translateX(-1200px);
	}

	100%{
		transform: translateY(0);
	}
}

@keyframes titleProjectsMobile {
	0%{
		transform: translateX(-500px);
	}

	100%{
		transform: translateY(0);
	}
}

@media (min-width:768px){
	.our-projects[data-scroll="true"] .content-slide h2.title {
		animation: titleProjectsDesktop 1.5s ease-in-out forwards;
	}
}

@media (max-width:767px){
	.our-projects[data-scroll="true"] .content-slide h2.title {
		animation: titleProjectsMobile 1.5s ease-in-out forwards;
	}

}

.our-projects .line-banners {
	@apply flex flex-row items-center gap-8 relative z-[1] left-[100px] pt-[90px] overflow-hidden;
}

.our-projects .line-banners .banner{
	@apply relative cursor-pointer;
}

.our-projects .popup + .shadow{
	@apply fixed z-[9] w-full h-full inset-0 bg-black opacity-0 invisible duration-300 ease-in-out;
}

.our-projects .popup[data-show="true"] + .shadow{
	@apply opacity-95 visible;
}

.our-projects .popup{
	@apply fixed z-20 max-w-full max-h-[600px] m-auto w-full h-full inset-0 left-[5%] opacity-0 invisible duration-300 ease-in-out scale-50;
}

.our-projects .popup[data-show="true"]{
	@apply opacity-100 visible scale-100;
}

.our-projects .banner .info-image-top{
	@apply absolute top-5 left-5 right-0 m-auto w-full flex flex-row items-start gap-4 z-[1];
}

.our-projects .banner .info-image-top span{
	@apply rounded-full text-xs px-[12px] py-[2px] text-[#8FFFFF] border border-[#8FFFFF];
}

.our-projects .popup .banner .info-image-top span,
.our-projects .popup .banner .info-image-bottom span{
	@apply hidden;
}

.our-projects .banner .info-image-texts{
	@apply absolute bottom-14 max-w-full left-0 px-5 right-0 m-auto w-full flex flex-col items-start gap-4 z-[1];
}

.our-projects .banner .info-image-bottom{
	@apply absolute bottom-5 left-5 right-0 m-auto w-full flex flex-row items-start gap-4 z-[1];
}

.our-projects .banner .info-image-bottom span{
	@apply rounded-full text-xs px-[12px] py-[2px] text-[#EBFBFF] border border-[#EBFBFF] opacity-40;
}

.our-projects .number-absolute {
	@apply top-[-93px] right-[84px];
}

.our-projects .line-banners .banner .image{
	@apply overflow-hidden relative z-[0];
}

.our-projects .line-banners .banner .image::before{
	content: '';
	/* background:linear-gradient(180deg, transparent 0%, #010D20 100%); */
	/* background:radial-gradient(circle,transparent 0%, rgba(0, 0, 0, 1) 100%); */
	@apply absolute top-0 bottom-0 left-0 right-0 m-auto w-full bg-[#010D20] h-full z-[2] opacity-80;
}

/* .our-projects .line-banners .banner .image::after{
	content: '';
	background:linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 1) 100%);
	@apply absolute top-0 bottom-0 left-0 right-0 m-auto w-full h-full z-[1] opacity-80;
} */


.our-projects .line-banners .banner .image img {
	@apply block w-full ease-in-out duration-330 ;
}

.our-projects .line-banners .banner .image:hover img {
	@apply scale-125;
}

.our-projects .develop .number-absolute {
	@apply text-[#BACAF5] absolute m-auto top-[-35px] left-[-30px] z-[1] text-[300px] leading-normal font-bold opacity-20;
}

.our-projects .develop {
	@apply bg-white flex flex-row justify-between items-start w-full relative pb-[159px] pt-[483px] mt-[-230px] pr-[222px] z-[0];
}

.our-projects .develop .title {
	@apply text-[64px] leading-[70px] text-[#0060FF] font-bold block pb-[55px] pr-4;
}

.our-projects .develop a {
	@apply text-[#0060FF] border-2 border-[#0060FF] rounded-lg font-bold flex items-center max-w-[180px] ml-auto h-16 leading-16 text-center gap-2 justify-center ease-in-out duration-300 cursor-pointer z-[2] relative hover:bg-[#0060FF] hover:border-[#0060FF] hover:text-white;
}

.our-projects .develop a svg{
	stroke: #0060FF;
	stroke-width: 10px;
	@apply w-5 h-5 font-bold duration-300 ease-in-out;
}

.our-projects .develop a:hover svg{
	stroke:#fff;
	@apply rotate-45;
}

.our-projects .develop a.custom-hover.mobile{
	@apply hidden;
}

/* .custom-hover{
	place-content: center;
	--c: #0060FF;
	background:
	  linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
	  linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
	-webkit-background-clip: text,padding-box;
			background-clip: text,padding-box;
	transition: 0.7s;
}

.custom-hover:hover{
	--_p: 100%;
	color: #fff !important;
} */


.our-projects .develop .title span {
	@apply text-[#253C77];
}

.our-projects .develop .left {
	@apply ml-[95px];
}

.our-projects .develop .right {
	@apply text-[#253C77] text-base max-w-[351px];
}



@media (max-width:1830px){
	.our-projects .develop{
		@apply pr-[187px];
	}
}

@media (max-width:1750px){
	.our-projects .develop{
		@apply pr-[106px];
	}

	.our-projects h2.title{
		@apply text-[200px];
	}
}

@media (max-width:1680px){

	.our-projects .develop{
		@apply pr-[60px] pt-[380px];
	}

	.our-projects .develop .right{
		@apply max-w-[300px];
	}
}

@media (max-width:1550px){

	.our-projects .develop{
		@apply pt-[280px];
	}

	.our-projects h2.title{
		@apply text-[160px] left-[-35px];
	}

	.our-projects .arrow-right-content{
		@apply w-[500px];
	}
}

@media (max-width:1470px){
	.our-projects .develop .title{
		@apply text-[48px] leading-[120%];
	}

	.our-projects .develop .number-absolute{
		@apply text-[250px];
	}
}

@media (max-width:1400px){
	.our-projects .develop .right{
		@apply max-w-[350px];
	}
}

@media (max-width:1300px){
	.our-projects .develop{
		@apply pt-[229px];
	}

	.our-projects .develop .left{
		@apply max-w-[600px];
	}

	.our-projects .develop .number-absolute{
		@apply top-[120px];
	}

	.our-projects h2.title{
		@apply text-[120px];
	}

}

@media (max-width:1240px){
	.our-projects .develop .right{
		@apply max-w-[300px];
	}
}

@media (max-width:1140px){
	.our-projects .develop .left{
		@apply max-w-[450px];
	}
}

@media (max-width:970px){

	.our-projects .develop{
		@apply pt-[250px];
	}

	.our-projects .arrow-right-content{
		@apply w-[400px];
	}

	.our-projects .develop .title{
		@apply pr-0;
	}

	.our-projects .develop .left{
		@apply max-w-[400px];
	}

	.our-projects .content-slide h2.title{
		@apply left-[-15px];
	}

	.our-projects .develop h2.title{
		@apply left-0;
	}

	.our-projects .develop .left{
		@apply ml-[40px];
	}
}

@media (max-width:860px){

	.our-projects .develop .right{
		@apply max-w-[247px];
	}

	.our-projects .develop .title{
		@apply text-[40px] pb-[140px];
	}

	.our-projects .develop .number-absolute{
		@apply text-[200px] top-[84px];
	}

	.our-projects .develop{
		@apply pt-[200px] pb-[70px];
	}

	.our-projects .develop a{
		@apply ml-[170px];
	}

}

@media (max-width:767px){
	.our-projects .popup .banner .image img{
		@apply w-full;
	}

	.our-projects .popup{
		@apply left-0 right-0 mx-auto w-full;
	}

	.our-projects .line-banners{
		@apply px-[150px] left-0 right-0 m-auto;
	}

	.our-projects .popup{
		@apply h-[500px];
	}

	.our-projects .arrow-right-content{
		@apply w-[300px];
	}

	.our-projects .popup .banner{
		@apply px-6;
	}

	.our-projects h2.title{
		@apply text-[96px];
	}

	.our-projects .number-absolute{
		@apply top-0 right-[20px];
	}

	.our-projects .line-info span{
		@apply px-6;
	}

	.our-projects .line-info{
		@apply pl-6 pb-[50px];
	}
}


@media (max-width:730px){

	.our-projects .line-banners{
		@apply px-[180px];
	}

	.our-projects h2.title{
		@apply text-[110px]
	}

	.our-projects .content-slide h2.title{
		@apply whitespace-nowrap;
	}

	.our-projects .develop{
		@apply pt-[70px] px-5;
	}

	.our-projects .develop{
		@apply flex-col;
	}

	.our-projects .develop .left{
		@apply ml-0;
	}

	.our-projects .develop .number-absolute{
		@apply left-[-15px];
	}

	.our-projects .develop a{
		@apply w-[90%] ml-0 max-w-full mt-[50px];
	}

	.our-projects .develop a.custom-hover.desktop{
		@apply hidden;
	}

	.our-projects .develop a.custom-hover.mobile{
		@apply flex;
	}

	.our-projects .develop .right{
		@apply max-w-[400px];
	}
}

@media (max-width:710px){
	.our-projects .line-banners{
		@apply px-[165px];
	}

	.our-projects h2.title{
		@apply text-[96px];
	}
}

@media (max-width:650px){
	.our-projects .line-banners{
		@apply px-[130px];
	}

	.our-projects h2.title{
		@apply text-[76px];
	}
}


@media (max-width:610px){
	.our-projects .line-banners{
		@apply px-[120px];
	}

	.our-projects .line-info{
		@apply gap-2
	}
}

@media (max-width:550px){
	.our-projects h2.title{
		@apply text-[58px];
	}

	.our-projects .content-slide h2.title{
		@apply left-[-7px];
	}

	.our-projects .line-banners{
		@apply px-8 pt-[50px];
	}

	.our-projects .content-slide{
		@apply h-[800px];
	}

	.our-projects .develop{
		@apply mt-[0] pt-[50px];
	}

	.our-projects .develop .number-absolute{
		@apply top-[88px] left-[20px] text-[150px];
	}

	.our-projects .develop .title{
		@apply pb-[80px];
	}
}

@media (max-width:520px){
	.our-projects .line-banners{
		@apply px-4;
	}
}

@media (max-width:470px){
	.our-projects .content-slide{
		@apply h-[770px];
	}
}

@media (max-width:450px){

	.our-projects .line-banners{
		@apply px-6;
	}

	.our-projects .popup{
		@apply h-[400px];
	}

	.our-projects h2.title{
		@apply text-[46px];
	}

	.our-projects .content-slide{
		@apply h-[730px];
	}

	.our-projects .develop .title{
		@apply text-[32px];
	}

	.our-projects .develop .number-absolute{
		@apply top-[60px] left-[-10px];
	}
}

@media (max-width:450px){
	.our-projects .content-slide{
		@apply h-[690px];
	}
}

@media (max-width:400px){
	.our-projects .content-slide{
		@apply h-[650px];
	}
}

@media (max-width:380px){
	.our-projects .content-slide{
		@apply h-[630px];
	}
}

@media (max-width:360px){
	.our-projects .content-slide{
		@apply h-[600px];
	}
}

@media (max-width:340px){
	.our-projects .content-slide{
		@apply h-[570px];
	}
}


/* our-projects */
