main{
	/* background: linear-gradient(130deg,rgba(0, 96, 255, 1) 0%, rgba(0, 23, 88, 1) 30%); */
	background: linear-gradient(130deg,rgba(0, 23, 88, 1) 0%, rgba(0, 9, 30,1) 30%);
	/* background-size: 100% 100%; */
}

main .main-content{
	@apply max-w-[1137px] mx-auto mt-[218px];
}

.what-we-are{
	@apply bg-white py-24 text-[#1B1F26B8] flex flex-row ;
}

.what-we-are > div{
	@apply w-1/3;
}

.split{
	@apply relative w-full;
	/* @apply pb-[220px]; */
}

.split .content-split{
	@apply pb-[180px];
}

.split:before{
	content: '';
	background: linear-gradient(130deg,rgba(0, 255, 153, 1) 0%, rgba(0, 96, 255, 1) 100%);
	@apply absolute top-0 right-0 left-[10%] bottom-0 mx-auto w-[2px] h-[100%] z-[1] opacity-30;
}


.bottom{
	background: url('/bg-bottom.png') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.bottom .our-clients{
	@apply relative pt-[120px] pb-[140px];
}

.bottom .our-clients .list-clients img{
	@apply opacity-40 ease-in-out duration-300 block mx-auto;
}

.bottom .our-clients .list-clients img:hover{
	@apply opacity-100;
}

.bottom .our-clients:before{
	content: '';
	background: linear-gradient(130deg,rgba(0, 255, 153, 1) 0%, rgba(0, 96, 255, 1) 100%);
	@apply absolute bottom-0 left-0 mr-auto w-[93%] h-[2px] opacity-30;
}

.bottom .contact label{
	@apply w-full block ;
}

.bottom .contact label input{
	outline: 0;
	border:0;
	@apply h-[44px] leading-[44px] pr-4 border-b border-b-[rgba(255,255,255,0.4)] block w-full;
}

.bottom .contact button{
	@apply w-full rounded-lg bg-[#00FF99] text-[#001758] text-base font-bold h-16 leading-16 hover:bg-[#001758] hover:text-[#00FF99] ease-in-out duration-300 cursor-pointer mt-6 flex flex-row justify-center gap-2;
}

.footer{
	@apply pt-8 pb-[100px] relative;
}

.footer:before{
	content: '';
	background: linear-gradient(130deg,rgba(0, 255, 153, 1) 0%, rgba(0, 96, 255, 1) 100%);
	@apply absolute top-0 right-0 ml-auto w-[93%] h-[2px] opacity-30;
}
