
/* footer */

.footer {
	@apply pt-8 pb-[80px] relative;
}

.footer .block-arrow-up{
	@apply absolute top-[-120px] left-[-96px] duration-300 ease-in-out ;
}

.footer .arrow-up{
	stroke:#fff;
	stroke-width: 10px;
	@apply flex relative cursor-pointer bg-[#0060FF] w-9 h-9 max-h-9 py-4 rounded-full items-center justify-center ease-in-out duration-300 text-white;
}

.footer .arrow-up svg{
	@apply w-5 h-5 font-bold absolute inset-0 top-[7px] bottom-[initial] mx-auto z-1;
}

.footer .block-arrow-up:hover{
	@apply top-[-120px];
}

.footer .block-arrow-up:hover .arrow-up{
	@apply pb-[60px];
}

.footer::before{
	content: "";
	background: linear-gradient(
		130deg,
		rgba(0, 255, 153, 1) 0%,
		rgba(0, 96, 255, 1) 100%
	);
	@apply absolute top-0 right-0 ml-auto w-0 h-[1px] opacity-30;
}

.footer[data-scroll="true"]::before{
	animation: parallaxLineWidth 2s ease-in-out forwards;
}

@keyframes parallaxLineWidth{
	0%{
		width: 0;
	}

	100%{
		width: 93%;
	}
}

/* footer */
